body{
    background-color: #202020;
    color: white;
}

<<<<<<< HEAD
#curriculum{
    font-family: monospace;
    font-size: 1.5em;
}

.mono{
    font-family: monospace;
}
=======
>>>>>>> 86924c6b0981242707e94417fd39851b44202165
