<<<<<<< HEAD
<%- include('modal')%>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand mono" href="/">Antonio Volcan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div  class="collapse navbar-collapse mono" id="navbarNav">
=======
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Antonio Volcan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
>>>>>>> 86924c6b0981242707e94417fd39851b44202165
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Sobre mi</a>
          </li>
          <li class="nav-item">
<<<<<<< HEAD
            <a class="nav-link logged-out"  href="#" data-bs-toggle="modal" data-bs-target="#signinModal">Registrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link logged-out"  href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Iniciar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link logged-in"  href="#" id="logout">Cerrar Sesion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link logged-in"  id="contacto" href="/contact" >Contactame</a>
=======
            <a class="nav-link"  href="/contact">Contactame</a>
>>>>>>> 86924c6b0981242707e94417fd39851b44202165
          </li>
        </ul>
      </div>
    </div>
<<<<<<< HEAD
  </nav>
  <script src="/js/mainP.js" type="module"></script>
  
=======
  </nav>
>>>>>>> 86924c6b0981242707e94417fd39851b44202165
